#posts {
    border: 2px solid purple;
    margin: 3px;
    padding: 5px;
    width: 70%;
}

body{
    background-image: linear-gradient(to bottom right, rgb(185, 4, 4), rgb(255, 136, 0), rgb(229, 255, 0));
    height: 100%;
}

.content{
    color: rgb(0, 247, 255);
    margin-bottom: 10px;
    margin-left: 0;
    font-weight: 600;
}

.title{
    font-weight: bold;
    margin-bottom: 10px;
    padding: 2px;
}

#formContainer{
    margin: 15px;
}

#loginContainer{
    margin-bottom: 15px;
}

#listForm{
    display: flex;
    flex-direction: column ;
    width: 50%;
}

#profileLink{
    margin-right: 20px;
}
#profilePage{
    height: 100%;
}